[submodule "pfrl"]
	path = pfrl
	url = git@github.com:sattyorin/pfrl.git
[submodule "ros/crane_x7_ros"]
	path = ros/crane_x7_ros
	url = git@github.com:sattyorin/crane_x7_ros.git
[submodule "ros/crane_x7_description"]
	path = ros/crane_x7_description
	url = git@github.com:sattyorin/crane_x7_description.git
