[submodule "pfrl"]
	path = pfrl
	url = git@github.com:sattyorin/pfrl.git
[submodule "ros/crane_x7_ros"]
	path = ros/crane_x7_ros
	url = git@github.com:sattyorin/crane_x7_ros.git
[submodule "ros/crane_x7_description"]
	path = ros/crane_x7_description
	url = git@github.com:sattyorin/crane_x7_description.git
[submodule "moveit"]
	path = moveit
	url = git@github.com:ros-planning/moveit.git
[submodule "bowl_sdf_generator"]
	path = bowl_sdf_generator
	url = git@github.com:sattyorin/bowl_sdf_generator
